
.select {
  cursor: pointer;
}

.select:hover {
  background-color: beige;;
  cursor: pointer;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: aqua;
  cursor: pointer;
}